* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1 {
    width: 100%;
    text-align: center;
}
nav {
    width: 100%;
}
nav ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
}
nav ul li {
    float: left;
    width: 33.3%;
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    color: black;
    background-color: rgba(83, 199, 72);
    padding: 10px 20px;
}

nav a:hover {
    background-color: black;
    color: white;
}
nav a:active {
    background-color: rgb(40, 139, 27);
}
footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    background-color: rgba(83, 199, 72);
    width: 100%;
    font-size: 0.7rem;
}
#instrukcja {
    margin: 0 auto;
    max-width: 40em;
    hyphens: auto;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }
div *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#game{
    max-height: 504px;
    max-width: 504px;
    width:100%;
    height: 100%;
    position: relative;
    margin: 20px auto;

}
.cellprefix{
    width:100%;
    height:100%;
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin: 3px;
    padding: 15px 0 0 20px;

}
.cell{
    border: 1px solid #00a4a2;
    width:100%;
    height:100%;
    max-height: 50px;
    max-width: 50px;
    float:left;
    margin:3px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding: 0 0 0 6px;
    font-size: 30pt;
    cursor: pointer;
    z-index: 1;

}
.cell:hover{
    color: #fff;
    background: rgba(49, 125, 145, 0.7);
    z-index: 2;
    transform: translate(5px, -5px);
    animation: solution 1.5s ease-in-out infinite alternate;


}
.b{
    background: rgba(90, 87, 87, 0.8);
}