* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1 {
    width: 100%;
    text-align: center;
}
nav {
    width: 100%;
}
nav ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
}
nav ul li {
    float: left;
    width: 33.3%;
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    color: black;
    background-color: rgba(83, 199, 72);
    padding: 10px 20px;
}

nav a:hover {
    background-color: black;
    color: white;
}
nav a:active {
    background-color: rgb(40, 139, 27);
}
footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    background-color: rgba(83, 199, 72);
    width: 100%;
    font-size: 0.7rem;
}
#instrukcja {
    margin: 0 auto;
    max-width: 40em;
    hyphens: auto;
}
.game_form {
    text-align: center;
}