{% extends 'base.html' %}
{% block content %}
    <div id='about'>
        <h2>Kilka słów o nas</h2>
        <p>Jesteśmy studentami pierwszego roku Matematyki i Statystyki.</p>
    </div>
    <div id="images">
    <img id="im1" src="{{ url_for('static', filename='images/IMG1.JPG') }}" width="360" height="270" alt="Emilia i Jakub na tle jakiegoś statku w Gdyni">
    <img id="im2" src="{{ url_for('static', filename='images/IMG2.JPG') }}" width="360" height="270" alt="Emilia i Jakub w SPN koło Łeby">
    </div>
{% endblock %}