<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kolorowe kółeczka</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="http://davidjbradshaw.com/imagemap-resizer/js/imageMapResizer.min.js"></script>
    </head>
    <body>
        <header>
                <h1 id="title">Kolorowe kółeczka</h1>
        </header>
        <nav>
            <ul>
            <li><a href={{ url_for('start') }}>Graj</a></li>
            <li><a href={{ url_for('help') }}>Instrukcja</a></li>
            <li><a href={{ url_for('about') }}>O autorach</a></li>
            </ul>
        </nav>
        <div id="content">
                {% block content %}
                {% endblock %}
        </div>
        <footer>
            Emilia Kowal, Jakub Dworzański © 2019
        </footer>
        <script>
        $(document).ready(function() {
            $('map').imageMapResize();
        });
        </script>
    </body>
</html>