{% extends 'base.html' %}
{% block content %}
<div class="game_form">
    <form method="post">
        Wybierz rząd:
        {% for subfield in form.row %}
        {{ subfield }}{{ subfield.label }}
        {% endfor %}<br>
        Wybierz kolumnę:
        {% for subfield in form.col %}
        {{ subfield }}{{ subfield.label }}
        {% endfor %}<br>
        <input type="submit" value="Zatwierdź">
    </form>
    {% if session["msg"] %}
    <p class="err_msg">
    {{ session["msg"] }}
    </p>
    {% endif %}
    <img id="gameboard" src="/plot.png" alt="gameboard">
</div>
{% endblock %}